<div class="container">
  <admin-side-menu [departmentId]="admin?.department?.id" [pageSelected]="'requirements'"></admin-side-menu>

  <div class="admin-home-page-container">
    <div *ngIf="submissionData?.is_active" class="locked-page-container">
      <img class="locked-page-banner" src="assets/img/locked-page-banner-crud-req.png" alt="Clearance Requirements Page Locked Banner" />
    </div>
    <div class="department-name">
      <h1>{{ admin?.department?.name }}</h1>
    </div>

    <div class="admin-home-page">
      <div class="table-tile">
        <div class="">
          <div>
            <button
              mat-raised-button
              [disabled]="submissionData?.is_active"
              color="primary"
              class="create-button"
              (click)="clickCreateRequirementButton()">
              Create Requirements
            </button>
            <table>
              <tr>
                <th>No.</th>
                <th>Requirement</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Actions</th>
              </tr>
              <tr *ngFor="let requirement of requirements">
                <td>{{ requirement.id }}</td>
                <td>{{ requirement.name }}</td>
                <td>{{ requirement.description }}</td>
                <td>{{ requirement?.created_by?.account?.first_name }}</td>
                <td>
                  <button
                    [disabled]="submissionData?.is_active"
                    (click)="editRequirement(requirement)"
                    mat-icon-button
                    matTooltip="Click to Edit"
                    color="primary">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                  </button>
                  <button
                    [disabled]="submissionData?.is_active"
                    (click)="deleteRequirement(requirement.id)"
                    mat-icon-button
                    matTooltip="Click to Delete"
                    color="warn">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="selectedRequirement">
  <div class="panel-background"></div>
  <div class="panel">
    <form [formGroup]="requirementForm">
      <div class="input-fields">
        <p class="form-title">Update requirement</p>
        <mat-form-field>
          <mat-label class="text">Name:</mat-label>
          <input class="text" formControlName="name" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label class="text">Description:</mat-label>
          <textarea class="text" formControlName="description" matInput></textarea>
        </mat-form-field>

        <button class="create-modal-button text" (click)="updateRequirement()" mat-raised-button color="primary" type="submit">
          Confirm
        </button>
        <button class="create-modal-button text" (click)="selectedRequirement = undefined" mat-raised-button color="warn" type="button">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="showCreatePanel">
  <div class="panel-background"></div>
  <div class="panel">
    <form [formGroup]="requirementForm">
      <div class="input-fields">
        <h2 class="form-title">Create Requirement</h2>
        <mat-form-field>
          <mat-label class="text">Name:</mat-label>
          <input class="text" formControlName="name" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label class="text">Description:</mat-label>
          <textarea class="text" formControlName="description" matInput></textarea>
        </mat-form-field>

        <button class="create-modal-button text" (click)="createRequirement()" mat-raised-button color="primary" type="submit">
          Confirm
        </button>
        <button class="create-modal-button text" (click)="showCreatePanel = false" mat-raised-button color="warn" type="button">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-container>

<ngx-spinner *ngIf="isLoading" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white">Saving Changes...</p>
</ngx-spinner>
