<div class="container">
  <admin-side-menu [departmentId]="admin?.department?.id" [pageSelected]="'requirements'"></admin-side-menu>

  <div class="admin-home-page-container">
    <div class="department-name">
      <h1>{{ admin?.department?.name }}</h1>
    </div>
    <div class="admin-home-page">
      <div class="table-tile">
        <div class="">
          <div>
            <button (click)="clickCreateRequirementButton()" class="create-button">Create Requirements</button>
            <table>
              <tr>
                <th>No.</th>
                <th>Requirement</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              <tr *ngFor="let requirement of requirements">
                <td>{{ requirement.id }}</td>
                <td>{{ requirement.name }}</td>
                <td>{{ requirement.description }}</td>
                <td>{{ requirement?.created_by?.account?.first_name }}</td>
                <td (click)="editRequirement(requirement)"><mat-icon>edit</mat-icon></td>
                <td (click)="deleteRequirement(requirement)"><mat-icon>delete</mat-icon></td>
              </tr>
            </table>
          </div>
          <!-- <p class="clearance-status zoom-text-small">Department: Information and Communication Technology Office</p>
          <p class="clearance-status zoom-text-small">Requirement Posting Date: May 25, 2023 11:29 PM</p>
          <p class="clearance-status zoom-text-small">Admin Name: John Smith Doe</p>
          <br />
          <p class="clearance-status zoom-text-small">Clearance Requirements:</p>
          <ol class="requirements-posted zoom-text-small">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ol> -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="selectedRequirement">
  <div class="panel-background"></div>
  <div class="panel">
    <form [formGroup]="requirementForm">
      <div class="input-fields">
        <p>Requirement Id: {{ selectedRequirement.id }}</p>
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description:</mat-label>
          <input formControlName="description" matInput />
        </mat-form-field>

        <button (click)="updateRequirement()" mat-raised-button color="primary" type="submit">Confirm</button>
        <button (click)="selectedRequirement = undefined" mat-raised-button color="warn" type="button">Cancel</button>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="showCreatePanel">
  <div class="panel-background"></div>
  <div class="panel">
    <form [formGroup]="requirementForm">
      <div class="input-fields">
        <h2 class="form-title">Create Requirement</h2>
        <mat-form-field>
          <mat-label class="text">Name:</mat-label>
          <input class="text" formControlName="name" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label class="text">Description:</mat-label>
          <textarea class="text" formControlName="description" matInput></textarea>
        </mat-form-field>

        <button class="text" (click)="createRequirement()" mat-raised-button color="primary" type="submit">Confirm</button>
        <button class="text" (click)="showCreatePanel = false" mat-raised-button color="warn" type="button">Cancel</button>
      </div>
    </form>
  </div>
</ng-container>
