<h1>Requirements for {{ department?.name }} department</h1>

<ng-container *ngIf="requirements">
  <mat-table [dataSource]="requirements">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="created_by">
      <th mat-header-cell *matHeaderCellDef>Created by</th>
      <td mat-cell *matCellDef="let element">{{ element.created_by.account.first_name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedTableColumns"></tr>
  </mat-table>
</ng-container>
