.container {
  display: flex;
  height: 100vh;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-us-banner {
  width: 500px;
  height: 500px;
  border-radius: 20px;
}
