<div class="container">
  <student-side-menu [pageSelected]="'profile'"></student-side-menu>
  <div class="student-profile-page">
    <div class="student-profile-container">
      <h1>Hello {{ student?.account?.first_name }}!</h1>

      <div class="student-profile-details-container">
        <div class="picture-container">
          <h2>Profile Details</h2>
          <p *ngIf="!student?.account?.profile_picture_name">No profile picture uploaded yet</p>

          <div class="profile-pic-div">
            <div *ngIf="student?.account?.profile_picture_name && !profilePic.picURL" class="spinner-div">
              <mat-spinner></mat-spinner>
            </div>
            <img *ngIf="profilePic.picURL" (click)="clickProfilePic()" class="profile-pic" [src]="profilePic.picURL" />
          </div>

          <div class="buttons-container">
            <button (click)="fileInput.click()" mat-raised-button color="primary" class="white-button">
              Choose Picture
              <input class="hide-button" #fileInput type="file" name="file" (change)="onProfilePicFileSelected($event, profilePic)" />
            </button>
            <button mat-raised-button color="primary" (click)="updateProfilePic()">Save</button>
          </div>
        </div>
        <div class="student-details-container">
          <p>Course: Bachelor of Secondary Education Major in Social Sciences</p>
          <p>College: College of Education</p>
          <p>Student Number: {{ student?.student_number }}</p>
          <p>Name: {{ student?.account?.first_name + " " + student?.account?.last_name }}</p>
          <p>Email: {{ student?.account?.email }}</p>
        </div>
      </div>

      <div #profileTable class="clearance-form-table-container">
        <div class="clearance-status-table">
          <h2>Clearance Status</h2>
          <table>
            <tr>
              <th>Department</th>
              <th>Requirement Status</th>
              <th>Status</th>
            </tr>
            <tr
              class="requirement-row"
              (click)="goToRequirementDepartment(departmentRequirements.department.id)"
              *ngFor="let departmentRequirements of departmentRequirementsList">
              <td>{{ departmentRequirements.department.name }}</td>
              <td>{{ getDepartmentRequirementsStatusString(departmentRequirements) }}</td>
              <td [class.status-pending]="getDepartmentCheckStatus(departmentRequirements) === 'WITH PENDING'">
                {{ getDepartmentCheckStatus(departmentRequirements) }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner *ngIf="currentlySaving" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white">Saving Changes...</p>
</ngx-spinner>

<preview-pic-modal
  (clickGrayOverlay)="profilePic.previewPicURL = undefined"
  [picURL]="profilePic.previewPicURL"
  *ngIf="profilePic.previewPicURL"></preview-pic-modal>
