<div class="sidebar-space"></div>

<div class="sidebar">
  <div class="logo-div">
    <img class="logo-cms" src="\assets\img\udm-logo-v3.png" alt="CMS Logo" />
  </div>

  <div class="sidebar-menu">
    <div class="sidebar-selection">
      <ul>
        <li><a [class.selected-tab]="pageSelected === 'home'" (click)="goToHome()">Home</a></li>
        <li><a [class.selected-tab]="pageSelected === 'clearance'" (click)="goToClearancePage()">Clearance</a></li>
        <li><a [class.selected-tab]="pageSelected === 'admins'" (click)="goToAdminsList()">Admin List</a></li>
        <li><a [class.selected-tab]="pageSelected === 'students'" (click)="goToStudentsList()">Student List</a></li>
      </ul>
    </div>

    <div class="logout-container">
      <button (click)="logout()" class="logout-button">Logout</button>
    </div>
  </div>
</div>
