<div class="container">
  <admin-side-menu [departmentId]="admin?.department?.id" [pageSelected]="'profile'"></admin-side-menu>
  <div class="profile-page">
    <div class="profile-details-container">
      <h1>Hello {{ admin?.account?.first_name }}!</h1>

      <div class="profile-details-tile">
        <h2>Profile Details</h2>
        <br />
        <p class="text-bold">
          Name:
          <span class="text">{{ admin?.account?.first_name + " " + admin?.account?.last_name }}</span>
        </p>
        <p class="text-bold">
          Department:
          <span class="text">{{ admin?.department?.name }}</span>
        </p>
        <p class="text-bold">
          Email:
          <span class="text">{{ admin?.account?.email }}</span>
        </p>
      </div>

      <div class="upload-container">
        <div class="picture-tile">
          <h2>Profile Picture</h2>
          <p class="text-italicized" *ngIf="!admin?.account?.profile_picture_name">No profile picture uploaded yet</p>
          <img (click)="clickProfilePic()" class="profile-pic" [src]="profilePic.picURL" />
          <br />
          <div class="buttons-container">
            <button mat-raised-button color="primary" class="white-button">
              Upload Picture
              <input class="hide-button" #fileInput type="file" name="file" (change)="onProfilePicFileSelected($event, profilePic)" />
            </button>
            <br />
            <button mat-raised-button color="primary" (click)="updateProfilePic()">Save Picture</button>
          </div>
        </div>

        <div class="signature-tile">
          <h2>E-signature</h2>
          <p class="text-italicized" *ngIf="!admin?.e_signature_name">No e-signature uploaded yet</p>
          <img (click)="clickESignaturePic()" class="e-signature" [src]="eSignaturePic.picURL" />
          <br />
          <div class="buttons-container">
            <button class="white-button" mat-raised-button color="primary">
              Upload E-signature
              <input class="hide-button" #fileInput type="file" name="file" (change)="onESignatureFileSelected($event, eSignaturePic)" />
            </button>
            <br />
            <button mat-raised-button color="primary" (click)="updateESignaturePic()">Save E-signature</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
