.container {
  display: flex;
  height: 100vh;
}

.profile-pic {
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  max-height: 200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.spinner-div {
  height: 200px;
  width: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.e-signature-div {
}

.e-signature {
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  max-height: 200px;
  max-width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.profile-page {
  display: flex;
  width: 100%;
}

.profile-details-container {
  margin: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  margin: 30px 30px 50px 0;
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
}

h2 {
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.text-bold {
  color: #000000;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.text {
  color: #000000;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.text-italicized {
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
}

.profile-details-tile {
  background-color: #eceff1;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.upload-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.picture-tile {
  background-color: #eceff1;
  padding: 20px;
  border-radius: 15px;
  width: 45%;
}

.signature-tile {
  background-color: #eceff1;
  padding: 20px;
  border-radius: 15px;
  width: 45%;
}

.hide-button {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0;
  height: 0;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

button {
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding: 20px;
}

.white-button {
  background-color: #fff !important;
  color: #607d8b !important;
}

.swal-confirm-button {
  background-color: #607d8b !important;
  color: #FFF !important;
  box-shadow: 4px rgba(0, 0, 0, 0.2) !important;
}
