<div class="container">
  <admin-side-menu [pageSelected]="'profile'"></admin-side-menu>
  <div class="profile-page">
    <h1>Hello {{ admin?.account?.first_name }}</h1>
    <h2>Profile Pic</h2>
    <p *ngIf="!admin?.account?.profile_picture_name">No profile pic uploaded yet.</p>
    <img (click)="clickProfilePic()" class="profile-pic" [src]="profilePic.picURL" />
    <br />

    <input #fileInput type="file" name="file" (change)="onProfilePicFileSelected($event, profilePic)" />
    <br />
    <button mat-raised-button color="primary" (click)="updateProfilePic()">Update</button>

    <h2>E signature</h2>
    <p *ngIf="!eSignaturePic.picURL">No profile pic uploaded yet.</p>
    <img (click)="clickESignaturePic()" class="profile-pic" [src]="eSignaturePic.picURL" />
    <br />

    <input #fileInput type="file" name="file" (change)="onESignatureFileSelected($event, eSignaturePic)" />
    <br />
    <button mat-raised-button color="primary" (click)="updateESignaturePic()">Update</button>
  </div>
</div>
