mat-form-field {
  margin: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 40%;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.slide {
  margin: 8px;
}
