.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

.pdf-button {
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  width: 15%;
  border-radius: 10px;
  justify-content: center;
}

.student-profile-page {
  width: 100%;
  display: flex;
}

.student-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  padding: 50px;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
}

.clearance-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clearance-form-title {
  width: 100%;
}

.clearance-form-name {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #000;
  text-align: right;
}

.clearance-form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.udm-logo {
  max-width: 300px;
  max-height: 80px;
  margin-bottom: 100px;
}

.clearance-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 50px;
}

.subtext {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}

.subtext-small {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 100px;
}

.clearance-form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.clearance-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 50px;
}

.text-underline {
  text-decoration: underline;
}

.department-signature-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}

.department-signature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.e-signature {
  width: 250px;
  height: 100px;
  margin-bottom: 20px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 50px;
}

.text-overline {
  text-decoration: overline;
}

.signature-line {
  border-bottom: #000 solid;
  width: 450px;
}

.student-signature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
