.panel-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.75);
  z-index: 2;
}

.panel {
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 800px;
  height: 400px;
  background-color: #eceff1;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

mat-form-field {
  margin: 0 8px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.update-admin-form {
  margin: 20px 20px 0 30px;
}

button {
  margin: 0 8px;
}

.container {
  display: flex;
  height: 100vh;
}

.warn {
  color: red;
}

.admin-list-container {
  width: 100%;
}

.admin-list-title-container {
  width: 100%;
}

h1 {
  margin: 30px 30px 50px 0;
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
}

.create-admin-button {
  margin: 0 0 50px 50px;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
}

.admin-table {
  margin: 0 0 0 50px;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

th,
td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #cfd8dc;
}

th {
  background-color: #607d8b;
  color: white;
}
.actions-col {
  text-align: center;
}
.update-admin {
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.subtext {
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
}
