<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<div class="container">
  <admin-side-menu [departmentId]="admin?.department?.id" [pageSelected]="'home'"></admin-side-menu>

  <div class="home-container">
    <div class="super-admin-home-container">
      <a
        href="https://www.facebook.com/ManilaPIO/posts/news-update-udm-completes-transition-to-blended-learningthe-universidad-de-manil/886500811834609/">
        <img class="news-tile" src="\assets\img\news1.jpg" alt="UDM News" />
      </a>
      <a href="https://www.facebook.com/UdM.Merlions/photos/a.694393490661251/5308401879260366">
        <img class="news-tile" src="\assets\img\news2.jpg" alt="UDM News" />
      </a>
      <a href="https://www.facebook.com/udmanila/posts/pfbid02KB3MELo9wUb2nkHp88VWZybf4jMTuzrhS39moFsRttEHpoCnECVxkvHMycVjNyfwl">
        <img class="news-tile" src="\assets\img\news3.jpg" alt="UDM News" />
      </a>
      <div class="student-list">
        <p class="list-title">Student List</p>
        <ol>
          <li class="subtext-formatting">Juan Dela Cruz</li>
          <li class="subtext-formatting">Roberto Delos Santos</li>
          <li class="subtext-formatting">Pedro Dimakulangan</li>
          <li class="subtext-formatting">Saturnina Macapagal</li>
          <li class="subtext-formatting">Maria Clara Alcantara</li>
        </ol>
        <a class="link-format" (click)="goToStudentsList()">View more</a>
      </div>
      <div class="admin-list">
        <p class="list-title">Clearance List (Posted):</p>
        <ol>
          <li class="subtext-formatting">Data Privacy Policy Training</li>
          <li class="subtext-formatting">Protect yourself from phishing Online Training</li>
          <li class="subtext-formatting">Phishing vs. Pharming Online Training</li>
          <li class="subtext-formatting">UDM Portals Online Training</li>
          <li class="subtext-formatting">UDM CMS Online Training</li>
          <li class="subtext-formatting">Internet of Things Online Training</li>
        </ol>
        <a class="link-format" (click)="goToRequirementsList()">View More</a>
      </div>
      <div class="social-media-tile">
        <p class="list-title">UDM Social Media</p>
        <ul class="social-media-icons">
          <li>
            <a href="https://www.facebook.com/udmanila"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/officialudmla?lang=en"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/universidaddemanila/"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a class="soc-med-margin" href="https://udm.edu.ph/udm2/"><i class="fa fa-globe"></i></a>
          </li>
        </ul>

        <p class="list-title">UDM Portal</p>
        <ul class="remove-bullet-points">
          <li>
            <a class="link-format" href="https://portal.udm.edu.ph/register/">Student Portal</a>
          </li>
          <li>
            <a class="link-format" href="https://portal.udm.edu.ph/faculty/">Faculty Portal</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
