.swal-confirm-button {
  background-color: #607d8b !important;
  color: #fff !important;
  box-shadow: 4px rgba(0, 0, 0, 0.2) !important;
}

.swal-confirm-button:focus {
  box-shadow: none !important;
}

.swal-cancel-button {
  background-color: #fff !important;
  color: black !important;
  box-shadow: 4px rgba(0, 0, 0, 0.2) !important;
}
