<div class="logo">
  <img src="\assets\img\udm-logo-v2.png" alt="CMS Logo" />
</div>
<div class="container">
  <form class="login-form" [formGroup]="studentForm">
    <h1>Login</h1>
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input formControlName="email" matInput />
      <mat-error *ngIf="this.studentForm.get('email')?.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input type="password" formControlName="password" matInput />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" (click)="login()">Continue</button>
    <p class="data-privacy-label">By clicking "Continue", you agree to our Terms and acknowledge our Data Privacy Policy.</p>
  </form>
</div>
