<div class="container">
  <div *ngIf="submissionData?.is_active" class="locked-page-container">
    <img class="locked-page-banner" src="assets/img/locked-page-banner.png" alt="Locked Page Banner" />
  </div>
  <div class="student-details">
    <h1>{{ student?.account?.first_name + " " + student?.account?.last_name }}</h1>
    <p>Student Number: {{ student?.student_number }}</p>
    <p>Requirement Status: {{ getRequirementStatus() }}</p>
    <p>
      Check Status:
      <span
        [class.notyet]="getCheckStatus() === 'NOT YET CHECKED'"
        [class.pending]="getCheckStatus() === 'WITH PENDING'"
        [class.check]="getCheckStatus() === 'DONE'"
        [class.check]="getCheckStatus() === 'IN PROGRESS'">
        {{ getCheckStatus() }}
      </span>
    </p>
    <br />
  </div>

  <div class="empty-state-container" *ngIf="requirements && requirements.length <= 0">
    <img
      class="nothing-to-display-here-placeholder"
      src="assets/img/nothing-to-display-here-placeholder-admin-requirement-list.png"
      alt="Nothing to display here image" />
    <button *ngIf="!submissionData?.is_active" mat-raised-button color="primary" (click)="goToClearanceList()">Create Requirements</button>
  </div>
  <ng-container *ngIf="requirements && requirements.length > 0">
    <div class="requirements">
      <div class="requirement" *ngFor="let requirementPair of studentRequirementPairs">
        <ng-container *ngIf="requirementPair.requirement.id">
          <p>
            <span class="text-bold">Name:</span>
            {{ requirementPair.requirement.name }}
          </p>
          <p>
            <span class="text-bold">Description:</span>
            {{ requirementPair.requirement.description }}
          </p>
          <p>
            <span class="text-bold">Status:</span>
            <span
              [class.status-pending]="requirementPair.studentRequirement?.status?.id === 2"
              [class.status-cleared]="requirementPair.studentRequirement?.status?.id === 3">
              <b>{{ requirementPair.studentRequirement?.status?.name }}</b>
            </span>
          </p>

          <p class="text-warn" *ngIf="!requirementPair.studentRequirement">No file uploaded yet</p>

          <ng-container *ngIf="requirementPair.studentRequirement">
            <div class="preview-file-div">
              <div *ngIf="!requirementPair.isDoneLoading" class="spinner-div">
                <mat-spinner></mat-spinner>
              </div>

              <div
                class="file-preview"
                (click)="previewFile(requirementPair.fileUrl)"
                *ngIf="
                  requirementPair.fileUrl &&
                  requirementPair.fileType !== 'image/bmp' &&
                  requirementPair.fileType !== 'image/jpeg' &&
                  requirementPair.fileType !== 'image/png'
                ">
                {{ requirementPair.studentRequirement.original_file_name }}

                <br />
                <span class="size">Filesize: ({{ niceBytes(requirementPair.fileSize) }})</span>
              </div>

              <img
                *ngIf="
                  requirementPair.fileUrl &&
                  (requirementPair.fileType === 'image/bmp' ||
                    requirementPair.fileType === 'image/jpeg' ||
                    requirementPair.fileType === 'image/png')
                "
                (click)="previewFileURL = requirementPair.fileUrl"
                class="requirement-pic"
                [src]="requirementPair.fileUrl"
                alt="Selected Image" />
            </div>

            <div class="comment-title"><span class="text-bold">Comments:</span></div>
            <ng-container *ngIf="submissionData?.is_active">
              <p>{{ requirementPair.adminComments ? requirementPair.adminComments : "N/A" }}</p>
            </ng-container>

            <ng-container *ngIf="!submissionData?.is_active">
              <textarea class="text-area" [(ngModel)]="requirementPair.adminComments"></textarea>

              <div class="status-buttons" *ngIf="requirementPair.studentRequirement">
                <button
                  class="status-button"
                  (click)="setToPending(requirementPair.studentRequirement)"
                  [disabled]="requirementPair.studentRequirement.status?.id === 2"
                  mat-raised-button
                  color="accent">
                  Set as Pending
                </button>
                <button
                  class="status-button"
                  (click)="setToCleared(requirementPair.studentRequirement)"
                  [disabled]="requirementPair.studentRequirement.status?.id === 3"
                  mat-raised-button
                  color="primary">
                  Set as Cleared
                </button>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="save-button-container">
      <button class="bottom-center" [disabled]="submissionData?.is_active" (click)="saveChanges()" mat-raised-button color="primary">
        Save Changes
      </button>
    </div>
  </ng-container>
</div>

<preview-pic-modal *ngIf="previewFileURL" [picURL]="previewFileURL" (clickGrayOverlay)="previewFileURL = undefined"></preview-pic-modal>
