.container {
  display: flex;
  height: 100vh;
}

.student-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.student-list {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

h1 {
  margin: 30px 30px 50px 0;
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
}

h2 {
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

h3 {
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

table {
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eceff1;
}

.click-click {
  cursor: pointer;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #607d8b;
  color: white;
}

.panel-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.75);
}

.panel {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1300px;
  height: 700px;
  background-color: #eceff1;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.requirements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.requirement {
  border-radius: 10px;
  margin: 8px;
  padding: 8px;
  background-color: #cfd8dc;
}

.requirement-pic {
  width: 100px;
  height: 100px;
}

.done {
  background-color: #04aa6d;
}

.pending {
  background-color: red;
}

.status-pending {
  color: red;
}

.status-cleared {
  color: green;
}

.pic {
  position: absolute;
  width: 700px;
  max-height: 700px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

button {
  z-index: 0;
}

.text-bold {
  font-weight: 900;
}

.text-warn {
  color: red;
  font-weight: 900;
  font-style: italic;
}

.student-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 50px;
}
