<div class="container">
  <admin-side-menu [departmentId]="admin?.department?.id" [pageSelected]="'students'"></admin-side-menu>
  <div class="student-list-container">
    <div class="student-list">
      <h1>Students List</h1>
      <h2>Department: {{ admin?.department?.name }}</h2>
      <table>
        <tr>
          <th>Student Number</th>
          <th>Name</th>
          <th>Requirement Status</th>
          <th>Check status</th>
        </tr>
        <tr class="click-click" (click)="selectStudent(student)" *ngFor="let student of students">
          <td>{{ student.student_number }}</td>
          <td>{{ student.account?.first_name + " " + student.account?.last_name }}</td>
          <td>{{ getRequirementStatusForStudent(student.student_number) }}</td>
          <td
            [class.done]="getCheckStatusForStudent(student.student_number) === 'DONE'"
            [class.pending]="getCheckStatusForStudent(student.student_number) === 'WITH PENDING'">
            {{ getCheckStatusForStudent(student.student_number) }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- <ng-container *ngIf="selectedStudent && selectedStudent.student_number">
    <div (click)="clickGrayOverlay()" class="panel-background"></div>
    <div class="panel">
      <div class="student-details">
        <h3>View Submitted Clearance</h3>
        <p>Student name: {{ selectedStudent.account?.first_name + " " + selectedStudent.account?.last_name }}</p>
        <p>Student Number: {{ selectedStudent.student_number }}</p>
        <br />
      </div>
      <div class="requirements">
        <div class="requirement" *ngFor="let requirementPair of selectedStudentRequirementPairs" class="requirement">
          <ng-container *ngIf="requirementPair.requirement.id">
            <p>
              <span class="text-bold">Name:</span>
              {{ requirementPair.requirement.name }}
            </p>
            <p>
              <span class="text-bold">Description:</span>
              {{ requirementPair.requirement.description }}
            </p>
            <p>
              <span class="text-bold">Status:</span>
              <span
                [class.status-pending]="requirementPair.studentRequirement?.status?.id === 2"
                [class.status-cleared]="requirementPair.studentRequirement?.status?.id === 3">
                <b>{{ requirementPair.studentRequirement?.status?.name }}</b>
              </span>
            </p>

            <p class="text-warn" *ngIf="!requirementPair.studentRequirement">No file uploaded yet</p>
            <img
              (click)="previewFile(requirementPair.fileUrl)"
              *ngIf="requirementPair.studentRequirement"
              class="requirement-pic"
              [src]="requirementPair.fileUrl"
              alt="Selected Image" />
          </ng-container>

          <p><span class="text-bold">Comments:</span></p>
          <textarea [(ngModel)]="requirementPair.adminComments"></textarea>

          <div *ngIf="requirementPair.studentRequirement">
            <button
              [disabled]="requirementPair.studentRequirement.status?.id === 2"
              (click)="setRequirementAsPending(requirementPair)"
              mat-raised-button
              color="accent">
              Set as Pending
            </button>
            <button
              [disabled]="requirementPair.studentRequirement.status?.id === 3"
              (click)="setRequirementAsCleared(requirementPair)"
              mat-raised-button
              color="primary">
              Set as Cleared
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="previewFileURL">
    <div (click)="clickPreviewOverlay()" class="panel-background"></div>
    <img class="pic" [src]="previewFileURL" />
  </ng-container> -->
</div>
