.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-role-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 25%;
}

button {
  padding: 35px;
  margin-top: 16px;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.login-page {
  background-image: url("/assets/img/login-page-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
