<div class="container">
  <super-admin-side-menu [pageSelected]="'students'"></super-admin-side-menu>
  <div class="student-list-container">
    <div class="student-list-title-container">
      <h1>Student List</h1>
    </div>

    <div class="create-student-button">
      <button class="subtext" (click)="clickCreateStudentButton()" mat-raised-button color="primary">Create Student</button>
    </div>

    <div class="student-table">
      <table cellspacing="0">
        <tr>
          <th>Student Number</th>
          <th>Name</th>
          <th>Email</th>
          <th class="actions-col">Actions</th>
        </tr>
        <tr *ngFor="let student of students">
          <td>{{ student.student_number }}</td>
          <td>{{ student.account?.first_name + " " + student.account?.last_name }}</td>
          <td>{{ student.account?.email }}</td>
          <td>
            <button (click)="clickUpdateStudentButton(student)" mat-icon-button matTooltip="Click to Edit" color="primary">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button (click)="deleteStudent(student.student_number)" mat-icon-button matTooltip="Click to Delete" color="warn">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>

    <ng-container *ngIf="showCreateStudentPanel">
      <div (click)="showCreateStudentPanel = false" class="panel-background"></div>
      <div class="panel">
        <h2 class="title">Create Student</h2>
        <form [formGroup]="studentForm">
          <mat-form-field>
            <mat-label class="subtext">Student number:</mat-label>
            <input class="subtext" formControlName="studentNumber" matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label class="subtext">First name:</mat-label>
            <input class="subtext" formControlName="firstName" matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label class="subtext">Last name:</mat-label>
            <input class="subtext" formControlName="lastName" matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label class="subtext">Email:</mat-label>
            <input class="subtext" formControlName="email" matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label class="subtext">Password:</mat-label>
            <input class="subtext" formControlName="password" type="password" matInput />
          </mat-form-field>

          <div class="buttons">
            <button class="subtext" (click)="createStudentWithAccount()" type="submit" mat-raised-button color="primary">Create</button>
            <button class="subtext" (click)="showCreateStudentPanel = false" type="button" mat-raised-button color="warn">Cancel</button>
          </div>
        </form>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedStudent">
      <div (click)="selectedStudent = undefined" class="panel-background"></div>
      <div class="panel">
        <h2 class="title">Update Student</h2>
        <form [formGroup]="studentForm">
          <mat-form-field>
            <mat-label class="subtext">First name:</mat-label>
            <input class="subtext" formControlName="firstName" matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label class="subtext">Last name:</mat-label>
            <input class="subtext" formControlName="lastName" matInput />
          </mat-form-field>

          <mat-form-field>
            <mat-label class="subtext">Email:</mat-label>
            <input class="subtext" formControlName="email" matInput />
          </mat-form-field>

          <div class="buttons">
            <button class="subtext" (click)="updateStudentWithAccount()" type="submit" mat-raised-button color="primary">Update</button>
            <button class="subtext" (click)="selectedStudent = undefined" type="button" mat-raised-button color="warn">Cancel</button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>

<ngx-spinner *ngIf="isLoading" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white">Saving Changes...</p>
</ngx-spinner>
