<h1>Students List</h1>

<button (click)="showCreateStudentPanel = true" mat-raised-button color="primary">Create Student</button>
<table>
  <tr>
    <th>Student Number</th>
    <th>Name</th>
    <th>email</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{ student.student_number }}</td>
    <td>{{ student.account?.first_name + " " + student.account?.last_name }}</td>
    <td>{{ student.account?.email }}</td>
  </tr>
</table>

<ng-container *ngIf="showCreateStudentPanel">
  <div (click)="showCreateStudentPanel = false" class="panel-background"></div>
  <div class="panel">
    <h2>Create Student</h2>
    <form [formGroup]="studentForm">
      <mat-form-field>
        <mat-label>Student number:</mat-label>
        <input formControlName="studentNumber" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>First name:</mat-label>
        <input formControlName="firstName" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last name:</mat-label>
        <input formControlName="lastName" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input formControlName="password" type="password" matInput />
      </mat-form-field>

      <div class="buttons">
        <button (click)="createStudentWithAccount()" type="submit" mat-raised-button color="primary">Create</button>
        <button (click)="showCreateStudentPanel = false" type="button" mat-raised-button color="warn">Cancel</button>
      </div>
    </form>
  </div>
</ng-container>
