<!-- <button mat-raised-button color="primary" (click)="goToProfile()">Profile</button>

<h2>Hello {{ studentName }}</h2>
<h1>Departments:</h1>

<button mat-raised-button color="primary" (click)="goToDepartmentRequirementPage('1')">Department 1</button>
<button mat-raised-button color="primary" (click)="goToDepartmentRequirementPage('2')">Department 2</button>
<button mat-raised-button color="primary" (click)="goToDepartmentRequirementPage('3')">Department 3</button> -->

<div class="container">
  <div class="sidebar">
    <div class="logo-div">
      <img class="logo-cms" src="\assets\img\udm-logo-v3.png" alt="CMS Logo" />
    </div>

    <div class="sidebar-menu">
      <div class="sidebar-selection">
        <ul>
          <li><a class="is-active">Home</a></li>
          <li><a (click)="goToProfile()">Profile</a></li>
          <li><a>FAQs</a></li>
          <li><a>Contact</a></li>
        </ul>
      </div>

      <div class="logout-container">
        <button (click)="logout()" class="logout-button">Logout</button>
      </div>
    </div>
  </div>
  <div class="student-home-page-container">
    <!-- <div class="student-name-greetings">
      <h1>Hi, {{ student?.account?.first_name }} !</h1>
    </div>
    <div class="student-home-page">
      <ng-container *ngIf="departments">
        <div *ngFor="let department of departments" class="department-list">
          <div (click)="goToDepartmentRequirementPage(department.id)" class="department-security-tile zoom-container">
            <img class="icon-department zoom-image" src="\assets\img\security.png" alt="Security Department" />
            <p class="department-security-text zoom-text">{{ department.name }}</p>
            <p class="department-security-subtext zoom-text">Submitted Requirements: 1/3</p>
          </div>
        </div>
      </ng-container> -->

    <div class="header-container">
      <div class="deadline-container">
        <p class="deadline-red">
          Submission Deadline:
          <b>June 20, 2023</b>
          <br />
          Days remaining before deadline:
          <b>20 days</b>
        </p>
      </div>
      <div class="student-name-greetings">
        <h1>Hi, {{ student?.account?.first_name }}!</h1>
      </div>
    </div>
    <div class="student-home-page">
      <div *ngFor="let department of departments" class="department-list">
        <div (click)="goToDepartmentRequirementPage(department.id)" class="department-tile zoom-container">
          <img class="icon-department zoom-image" [src]="getLogoURL(department)" alt="Security Department" />
          <p class="department-text zoom-text">{{ department.name }}</p>
          <p class="department-subtext zoom-text">Submitted Requirements: 1/3</p>
        </div>
      </div>
    </div>
  </div>
</div>
