.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;

  width: 400px;
  background-color: #37474f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.sidebar li {
  margin-bottom: 10px;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.sidebar a:not(.is-active) {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  padding: 10px;
  cursor: pointer;
}

.is-active {
  background-color: #ffffff;
  color: #263238;
  display: block;
  text-decoration: none;
  padding: 10px;
}

.sidebar a:hover {
  background-color: #ffffff;
  color: #263238;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logout-button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s;
  margin-bottom: 30px;
}

.logout-button:hover {
  color: #ffe57f;
}

.student-home-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.student-home-page {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.department-list {
  margin: 0 20px auto 20px;
  flex-grow: 1;
  align-self: flex-start;
  width: 300px;
  height: 40%;
  background-color: #eceff1;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;
}

h1 {
  margin: 30px 30px 50px 0;
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.deadline-red {
  margin: 30px 0 50px 30px;
  color: #f44336;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.department-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  cursor: pointer;
}

.department-text {
  margin: 15px 0 15px 0;
  color: #263238;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

.department-subtext {
  color: #263238;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 700;
  margin-top: 20px;
}

.icon-department {
  max-width: 80px;
  max-height: 80px;
}

.department-list:hover {
  border-radius: 20px;
  background-color: #607d8b;
  .department-text {
    color: #ffffff;
  }
  .department-subtext {
    color: #ffffff;
  }
}

.zoom-container {
  position: relative;
}

.zoom-container:hover .zoom-image {
  transform: scale(1.2);
}

.zoom-container:hover .zoom-text {
  transform: scale(1.2);
}

.zoom-image {
  transition: transform 0.3s;
}

.zoom-text {
  transition: transform 0.3s;
}

.logo-div {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 250px;
}

.logo-cms {
  width: 60%;
}

.sidebar-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-selection {
}
