mat-form-field {
  margin: 8px;
}

.submission-container {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

.container {
  display: flex;
  height: 100vh;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.slide {
  margin: 8px;
}

// :host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
//   background-color: #49c5b6;
// }

// :host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
//   background-color: #49c5b6;
// }
