<div class="container">
  <div class="clearance-submission-page">
    <div class="clearance-submission-page-header">
      <h1>Hi {{ student?.account?.first_name }}!</h1>
      <h2>List of Clearance for {{ department?.name }} Department</h2>
    </div>
    <div class="empty-state-container" *ngIf="!this.requirements?.length">
      <img
        class="nothing-to-display-here-placeholder"
        src="assets/img/nothing-to-display-here-placeholderstudent-requirement-list.png"
        alt="Nothing to display here image" />
      <button mat-raised-button color="primary" (click)="goToStudentManualPage()">View Manual</button>
    </div>

    <div *ngIf="this.requirements?.length" class="clearance-list-tile">
      <div *ngFor="let requirementPair of requirementPairs" class="requirement">
        <p>
          <span class="text-bold">Clearance Name:</span>
          {{ requirementPair.requirement.name }}
        </p>
        <p>
          <span class="text-bold">Description:</span>
          {{ requirementPair.requirement.description }}
        </p>

        <div class="div-div">
          <div *ngIf="!requirementPair.isDoneLoading" class="spinner-div">
            <mat-spinner></mat-spinner>
          </div>

          <ng-container *ngIf="submissionData?.is_active">
            <div class="upload-div" *ngIf="requirementPair.isDoneLoading && !requirementPair.fileUrl" (click)="fileInput2.click()">
              <input class="hide-button" #fileInput2 type="file" name="file" (change)="onFileSelected($event, requirementPair)" />
              <div>Upload File</div>
              <div class="plus">+</div>
            </div>
          </ng-container>

          <ng-container *ngIf="!submissionData?.is_active">
            <div *ngIf="!requirementPair.fileUrl">No File Uploaded!</div>
          </ng-container>

          <ng-container
            *ngIf="
              (requirementPair.studentRequirement && requirementPair.fileUrl) || (requirementPair.uploadedFile && requirementPair.fileUrl)
            ">
            <div
              *ngIf="
                requirementPair.fileType !== 'image/bmp' &&
                requirementPair.fileType !== 'image/jpeg' &&
                requirementPair.fileType !== 'image/png'
              "
              class="upload-div"
              (click)="openFileInAnotherWindow(requirementPair)">
              {{
                requirementPair.uploadedFile ? requirementPair.uploadedFile.name : requirementPair?.studentRequirement?.original_file_name
              }}
            </div>

            <img
              *ngIf="
                requirementPair.fileType === 'image/bmp' ||
                requirementPair.fileType === 'image/jpeg' ||
                requirementPair.fileType === 'image/png'
              "
              (click)="previewFile(requirementPair.fileUrl)"
              class="requirement-pic"
              [src]="requirementPair.fileUrl ? requirementPair.fileUrl : 'assets/img/img-preview-default.png'"
              alt="Selected Image" />

            <div (click)="requirementPair.fileUrl = undefined; requirementPair.uploadedFile = undefined" class="close">X</div>
          </ng-container>
        </div>

        <div class="submit-buttons">
          <ng-container *ngIf="!submissionData?.is_active">
            <p>
              <span class="text-bold">Status:</span>
              <span
                [class.pending]="requirementPair.studentRequirement?.status?.name === 'PENDING'"
                [class.cleared]="requirementPair.studentRequirement?.status?.name === 'CLEARED'">
                {{ requirementPair.studentRequirement?.status?.name ? requirementPair.studentRequirement?.status?.name : "N/A" }}
              </span>
            </p>

            <p *ngIf="requirementPair.studentRequirement?.admin_comments">
              <span class="text-bold">Admin Comment:</span>
              {{ requirementPair.studentRequirement?.admin_comments }}
            </p>
          </ng-container>

          <ng-container *ngIf="previewFileURL">
            <div (click)="clickGrayOverlay()" class="panel-background"></div>
            <img class="pic" [src]="previewFileURL" />
          </ng-container>
        </div>
      </div>

      <ng-container *ngIf="submissionData?.is_active">
        <button mat-raised-button color="primary" (click)="saveChanges()">Save Changes</button>
      </ng-container>
    </div>
  </div>
</div>
