.container {
  display: flex;
  height: 100vh;
}

.requirement {
  height: 320px;
  width: 600px;
  border-radius: 15px;
  margin: 10px;
  padding: 30px;
  background-color: #eceff1;
}

.requirement-pic {
  width: 200px;
  height: 150px;
}

.pic {
  position: absolute;
  width: 700px;
  max-height: 700px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.panel-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.75);
  overflow-y: hidden;
}

button {
  z-index: 0;
}

.pending {
  background-color: red;
  color: #fff;
  font-weight: 700;
}

.cleared {
  color: green;
  font-weight: 700;
}

.clearance-submission-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clearance-submission-page-header {
  margin-left: 50px;
}

h1 {
  margin: 30px 30px 30px 0;
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
}

h2 {
  color: #607d8b;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.clearance-list-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.text-bold {
  font-weight: 900;
}

.text-italicized {
  margin-top: 20px;
  font-style: italic;
  color: red;
}

.submit-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.button-choose-file {
  margin-bottom: 20px;
  width: 100%;
  background-color: #607d8b !important;
  border-color: #607d8b !important;
  color: #fff !important;
}

.hide-button {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0;
  height: 0;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

button {
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding: 20px;
}

.white-button {
  background-color: #fff !important;
  color: #607d8b !important;
}

.upload-div {
  height: 100%;
  width: 100%;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.plus {
  font-size: 30px;
}

.div-div {
  width: 200px;
  height: 150px;
  position: relative;
}

.close {
  font-size: 30px;
  color: black;
  background-color: white;
  position: absolute;
  top: 0;
  left: 90%;
  cursor: pointer;
}

.spinner-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-state-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.nothing-to-display-here-placeholder {
  width: 800px;
  height: 400px;
}

p {
  margin: 0 0 0 30px;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

button {
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.save-button-container {
  position: relative;
  height: 100vh; /* Set the height of the container */
  display: flex;
  align-items: flex-end; /* Align items to the bottom of the container */
}

.bottom-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Center the button horizontally */
  margin-bottom: 30px; /* Optional: Add some spacing from the bottom */
  width: 160px;
}
