// Custom Teal Theme
@import "@angular/material/theming";
$custom-blue-grey-primary: mat-palette($mat-blue-grey, 500);
$custom-blue-grey-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$custom-blue-grey-theme: mat-light-theme($custom-blue-grey-primary, $custom-blue-grey-accent);

// Include the custom theme in Angular Material theming
@include angular-material-theme($custom-blue-grey-theme);

@font-face {
  font-family: "Quicksand";
  src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

html,
body {
  margin: 0;
  font-family: "Quicksand", Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

.logo {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 8px; /* Adjust the left position as needed */
}

.logo img {
  height: 70px; /* Adjust the height of the logo image as needed */
  width: auto; /* Allow the width to adjust proportionally */
}

.swal-confirm-button {
  background-color: #607d8b !important;
  color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.swal-confirm-button:focus {
  box-shadow: none !important;
}

.swal-cancel-button {
  background-color: #fff !important;
  color: black !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}
